#student1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#student2 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: underline
}